<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYKqRlFkPxHHqUXbChNO8XKtgeOkjI_J6gYg&s" class="rounded" alt="...">
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subcategoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Salidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Devoluciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alertas</a>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYKqRlFkPxHHqUXbChNO8XKtgeOkjI_J6gYg&s" class="rounded" alt="...">
      </div>
    </div>
  </nav>