<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYKqRlFkPxHHqUXbChNO8XKtgeOkjI_J6gYg&s" class="rounded" alt="...">
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categorias">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/subcategorias">Subcategorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/salidas">Salidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/proveedores">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/devoluciones">Devoluciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuarios">Usuarios

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/alertas">Alertas</a>
          </li>
        </ul>
      </div>
      <div class="text-center">
        <img src="https://scontent.fbog3-3.fna.fbcdn.net/v/t39.30808-1/464089442_1945011269352104_4436668977719933714_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=102&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGCp-oiPGozgnJWReR6DN-topGsW_5Ea06ikaxb_kRrTvaEbY8-eB47El0VjivZpS85N3AUo2OX0zjL5mxt0Xn3&_nc_ohc=azO_m9Vn2RgQ7kNvgFCcZ7x&_nc_zt=24&_nc_ht=scontent.fbog3-3.fna&_nc_gid=Ad3xAWKpfnvF1Y6qaUsEhaJ&oh=00_AYCOOJ1qOFA1G2A1zZcOdmuq6hXgRdie0wjsPpM3LvZB-A&oe=6759A0EF" class="rounded" alt="...">
        <button type="button" class="btn btn-outline-danger">Juank</button>
      </div>
    </div>
  </nav>