<div class="aside_iz">
    <h1>Entradas</h1>
    <div class="cont_entradas"></div>
</div>
<div class="art_cent">
    <div class="categorias">
        <h2>Categorias</h2>
        <div>
            <div>
                <a href="#">Electronica</a>
            </div>
            <div>
                <a href="#">Accesorios</a>
            </div>
        </div>
    <div class="subcategorias">
        <h2>Subcategorias</h2>
        <div>
            <a href="#">Android</a>
        </div>
        <div>
            <a href="#">Iphone</a>
        </div>
        <div>
            <a href="#">Pc</a>
        </div>
        <div>
            <a href="#">Portatil</a>
        </div>
    </div>
</div>
</div>
<div class="aside_der">
    <h1>Salidas</h1>
    <div class="cont_entradas"></div>
</div>