.container-xxl {
    background-color: #121212;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    border: solid yellow 5px;
    display: grid;
}

.contenedor {
    display: flex;
    text-transform: uppercase;
}

h1 {
    color: white;
    font-size: 40px;
}

#iz {
    margin: 10px;
    color: green;
    text-align: center;
    background-color: #121212;
    width: auto;
   justify-content: flex-start;
}

#iz img {
    width: 300px;
    height: 400px;
    margin-top: 30px;
}

#der {
    margin: 10px;
    color: red;
    text-align: center;
    background-color: #121212;
    width: 320px;
    justify-content: flex-end;
}

#centro {
    margin: 10px;
    color: blue;
    text-align: center;
    background-color: #121212;
    width: 900px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.list-group {
    border-radius: 0px;
    font-size: 15px;
}

.elementos {
    display: flex;
    flex-wrap: nowrap;
}

#img1 {
    height: 200px;
    width: 250px;
    margin-bottom: -20px;
    margin-top: -20px;
}

#img2 {
    height: 150px;
    margin-bottom: -10px;
    margin-top: -10px;
}

h2 {
    color: white;
    background-color: #121212;
    border: solid white 5px;
    margin-inline: 400px;
    text-decoration: none;
    padding: 5px;
}

a :hover {
    color: red;
    border: solid red 5px;
}

a {
    text-decoration: none;
}

.progress {
    width: 400px;
    height: auto;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #121212;
}

.art1 {
    justify-content: center;
    justify-items: center;
}

.art2 {
    justify-content: center;
    justify-items: center;
}

.dropdown {
    margin-top: -5px;
    margin-bottom: 10px;
    justify-content: center;
}

.dropdown-menu {
    background-color: #121212;
    text-align: center;
    color: white;
}

.dropdown-item {
    color: white;
}

a.dropdown-item {
    color: white;
}

.dropdown-menu :hover {
    color: black;
}

input.form :hover {
    color: white;
}

button.btn {
    color: black;
    border: solid 1px #121212;
    text-decoration: none;
}

.d-flex :hover{
    background-color: #121212;
    border: solid red 1px;
    color: white;
}

.form-control :hover {
    background-color: white;
}

.list-group {
    height: 200px; 
    width: 300px;
    background-color: #121212;
}

.tab-content {
    background-color: white;
    height: 400px;
    width: auto;
    text-align: center;
    justify-content: center;align-items: center;
    justify-items: center;
    text-align: center; 
}
